.card-product-detail {
  background: #393737;
  width: 70%;
  height: 90%;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  .img-detail {
    padding: 10px;
    img {
      width: 350px;
    }
  }
  .info-detail {
    margin: auto ;
    font-size: 20px;
    h3 {
      color: #e6eaf4;
    }
  }
  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: #fff;
    background-color: rgb(17, 17, 18);
    text-align: center;
    display: left;
    cursor: pointer;
    width: 20%;
    font-size: 14px;
    &:hover {
      opacity: 0.7;
      color:rgb(164, 88, 166, 65);
      background-color: rgb(71, 71, 74);
    }
  }
}
@media screen and (max-width: 968px) {
  .card-product-detail {
    display: block;
    .img-detail {
      img {
        width: 150px;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .card-product-detail {
    display: block;
    .img-detail {
      width: 90px;
    }
  }
}
