.count {
  padding: '1rem';
  .grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .B {
      border: none;
      outline: 0;
      padding: 12px;
      color: #fff;
      background-color: rgb(17, 17, 18);
      text-align: center;
      display: left;
      cursor: pointer;
      padding-bottom: 5px;
      width: 20%;
      font-size: 24px;
      &:hover {
        opacity: 0.7;
        color:rgb(164, 88, 166, 65);
        background-color: rgb(71, 71, 74);
      }
    }
    
  }
  
  
}